div(id="filter")
    md-button.choose.md-raised(ng-click="getStats('month',$event,'#{type}')") Месяц
    md-button.choose(ng-click="getStats('week',$event,'#{type}')") Неделя
    md-button.choose(ng-click="getStats('today',$event,'#{type}')") Сегодня
    md-button.choose(ng-click="getStats('yesterday',$event,'#{type}')") Вчера
    br
    md-datepicker(ng-model='start',ng-change="changeDate('#{type}')")
    md-datepicker(ng-model='end', ng-change="changeDate('#{type}')")